@import "./variable";

footer{
    .#{&}-nav{
        display: flex;
        align-items: center;
        .footer{
            display: flex;
            margin-left: -10px;
            .foot-item{
                list-style: none;
                .nav-link{
                    text-decoration: none;
                    color:$btn-link-color-primary;
                    font-weight: 600;
                    @include btn-secondary($btn-link-color-secondary, 18px);
                }
            }
        }
        .footer-logo{
            width: 90px;
        }
    }
    .copy{
        p{
            color:$btn-link-color-primary;
            margin-top: 40px;
            text-align: center;
            font-size: 12px;
            font-weight: 600;
        }
    }
}