@import "./Variable";
@import "./Mixin";

.navbar{
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin: 2% 0px;
    .nav-left{
        flex: 0.2;
        .nav-logo{
            img{
                width: 140px;
            }
        }
    } 
    .nav-right{
        flex: 9;
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: space-between;
        .nav-list:nth-child(1){
            .menu-btn{
                border: transparent;
                font-size: 16px;
                background-color: transparent;
                @include navItem
                
            }
            .nav-list-collapse{
                z-index: 0;
                display: none;
                margin-top: 10px;
                margin-left: -40px;
                position: absolute;
                flex-direction: column;
                gap: 20px;
            }
        }
        .nav-list{
            display: flex;
            margin-left: -40px;
            .nav-item{
                @include navItem(10px);
                .active{
                    @include active-link;
                }
            }
            .menu{
                display: none;
                .menu-btn{
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}
