@use "sass:map";
@import "./Variable";

@function screen($size){
    @return map-get($breakpoint, $size);
}

@media screen and(max-width:screen("XL")) {
    .find-jobs{
        .side{
            .side-card-container{
                display: none !important;
            }
        }
    }  
}

@media screen and(max-width:screen("M")) {
    nav{
        .#{&}-right{
            flex-direction: row;
            .nav-list:nth-child(2){
                display: none;
            }
        }
    }
    .navbar{
        align-items: center;
        .nav-right{
            .nav-list:nth-child(1){
                align-items: center;
                .menu{
                    display: block;
                    .btn{
                        border: none;
                    }
                }
                .menu:hover  .nav-list-collapse {
                    display: flex;
                }
            }
        }
    }
    footer{
        .#{&}-nav{
            ul{
                display: none;
            }
        }
    }
    .card{
        width: 80%;
        #{&}-foot{
            align-items: flex-start;
            .tags{
                justify-content: flex-end;
                flex-wrap: wrap;
                font-size: 8px;
            }
        }
    }
    .card-detail{
        width: 80%;
        #{&}-foot{
            align-items: flex-start;
            .tags{
                justify-content: flex-end;
                flex-wrap: wrap;
                font-size: 8px;
            }
        }
    }
}

