// Button variable
$btn-link-color-primary: black;
$btn-padding: 10px 14px;
$btn-radius: 30px;


// Navigation
$navbar-bg-primary: rgb(247, 247, 247);
$nav-link-primary:black;
$nav-link-hover: lightcoral;


// Font Family
$font-primary: Arial, Helvetica, sans-serif;