// Button variable
$btn-link-color-primary: #606060;
$btn-link-color-secondary:#7eeaff;
$btn-padding: 10px 14px;
$btn-radius: 30px;


// Navigation
$navbar-bg-primary: #7eeaff;
$navbar-bg-secondary: $btn-link-color-primary;
$nav-link-primary:#282828;
$nav-link-hover: #f08080;


// Font Family
$font-primary: Arial, Helvetica, sans-serif;

// Screen Values


$breakpoint:(
    "small": 768px,
    "medium": 920px,
    "large": 1024px
)