

// Colors
$border-primary:#f0f0f0;
// $fontColor-primary: #202020;
$fontColor-primary: #4A596D;
// $fontColor-secondary: #00c3ff;
$fontColor-secondary: #006eb7;

// Screen size

$breakpoint:(
    "S": 512px,
    "M": 800px,
    "L": 1024px,
    "XL":1256px,
)